body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

h1 {
    font: size 50px;
}

.color {
    color: orange
}

.first {
    width: 50%;
    padding: 2%;
}

.firstone {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.first img {
    width: 50%;
}

.linkbtn {
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(orange, red);
}

.second {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.third {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.thirdone {
    display: flex;

}

.stack {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid blue;
}

.baby {
    border-left: 10px solid orangered;
}

footer p {
    margin-top: 50px;
    text-align: center;
}